@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --font-display: 'Poppins', 'sans-serif';
    --breakpoint-3xl: 1920px;
    --color-primary: #1368EC;
}

@layer base {
    html {
        font-family: var(--font-display);
    }

    body {
        background-color: #fcfbfc;
        overflow-x: hidden;
    }
}

.input-box {
    @apply w-full flex justify-between gap-3 text-sm text-black bg-slate-100/50 rounded px-4 py-3 mb-4 mt-3 border border-slate-200 outline-none;
}

.btn-primary {
    @apply w-full text-sm font-medium text-white bg-blue-500 shadow-lg shadow-purple-600/5 p-[10px] rounded-md my-1 hover:bg-blue-600/15 hover:text-blue-600 cursor-pointer;
}

.card {
    @apply bg-white p-6 rounded-2xl shadow-md shadow-gray-100 border border-gray-200;
}

.car-btn {
    @apply flex items-center gap-3 text-[12px] font-medium text-gray-700 hover:text-blue-500 hover:bg-blue-50 px-4 py-1.5 rounded-lg border border-gray-200/50 cursor-pointer;
}

.form-card {
    @apply bg-white p-6 rounded-lg shadow-md shadow-gray-100 border border-gray-500;
}

.form-input {
    @apply w-full text-sm text-black outline-none bg-white border border-slate-100 px-2.5 py-3 rounded-md mt-2 placeholder:text-gray-500;
}

.card-btn-fill {
    @apply flex items-center gap-3 text-[12px] font-medium text-white hover:text-blue-500 hover:bg-blue-50 px-4 py-1.5 rounded-lg border border-blue-500 cursor-pointer;
}

.add-btn {
    @apply w-full flex items-center justify-center gap-1.5 md:text-sm font-medium text-blue-500 whitespace-nowrap bg-blue-50 border border-blue-100 rounded-lg px-4 py-2 cursor-pointer;
}